<div class="row">

  <div class="col-md-10">

        <div class="jumbotron">

          <h1>Register for Free</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident natus dolorum, ipsum nemo iusto iste velit consequuntur, debitis voluptatibus quam quos incidunt nulla repellat tenetur.</p>

          <p><a href="#">Learn more</a></p>

        </div>

  </div>

  <div class="col-md-2">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>