<h2>Client details</h2>
<p>	Name - <%= @client.name %><br/>
	Email - <%= @client.email %><br/>
	Company - <%= @client.company %>
</p>
<h3>Listing projects</h3>

<table border="1">
	<thead>
		<tr>
			<th>SL NO</th>
			<th>Name</th>
			<th>Description</th>
			<th>Start date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @client.projects.each_with_index do |project, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= project.name %></td>
				<td><%= project.description %></td>
				<td><%= project.start_date %></td>
				<td><%= project.status %></td>
			</tr>
		<% end %>
	</tbody>
</table>