<div class="page-header">
	<h2>List of Projects <small>Total : <%= @projects.size %></small></h2>
</div>

<div class="row">

	

	<div class="col-md-7">
		<%= link_to "Add new project", new_project_path %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Status</th>
					<th>Start date</th>
					<th colspan="3">Action</th>
				</tr>				
			</thead>

			<tbody>
				<% @projects.each_with_index do |project, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= project.name %></td>
					<td><%= project.status %></td>
					<td><%= project.start_date %></td>
					<td><%= link_to "Show", project_path(project.id) %></td>
				</tr>
				<% end %>
				
			</tbody>
		</table>

	</div>

	<div class="col-md-5">
		<% data = {} %>
		<%
			data["new"] = current_user.projects.where('status = ?', "new").size
			data["on-going"] = current_user.projects.where('status = ?', "on-going").size
			data["completed"] = current_user.projects.where('status = ?', "completed").size
		%>

		<%= pie_chart(data) %>
	</div>

</div>





