<h2>Project name : <%= @project.name %></h2> 
<b>Client name : <%= link_to @project.client.try(:name).capitalize	, client_path(@project.client) %><br/><br/>


<div class="progress" style="height: 20px;" >
  <div class="progress-bar progress-bar-success" style="width: <%= @project.calc_completed %>%;">
  		<%= @project.calc_completed %>%
  </div>
</div>


<b>Categories : </b>
<ul>
	<% @project.categories.each do |category| %>
		<li><%= category.name %></li>
	<% end %> 
</ul>

<br/><br/>
<%= link_to "Edit", edit_project_path(@project.id) %> |
<%= link_to "Destroy", project_path(@project.id), method: :delete, data: {confirm: "Are you sure"}  %> |
<%= link_to "Back", projects_path %><br/><br/><br/>

<h2>Listing Tasks</h2>
<b>Over due</b>
<ol>
	<% @project.over_due_tasks.each do |task| %>
		<li><%= task.title %><%= link_to "Mark as complete", tasks_mark_as_complete_path(task_id: task.id) %></li>
	<% end %>
</ol> 
<b>Incompleted</b>
<ol>
	<% @project.incompleted_tasks.each do |task| %>
		<li><%= task.title %><%= link_to "Mark as complete", tasks_mark_as_complete_path(task_id: task.id) %></li>
	<% end %>
</ol>
<b>Completed</b>
<ol>
	<% @project.completed_tasks.each do |task| %>
		<li><%= task.title %><%= link_to "Mark as incomplete", tasks_mark_as_incomplete_path(task_id: task.id) %>
		<%= form_for task do |f| %>
			<%= f.hidden_field :is_completed, value: false %>
			<%= f.submit "Mark as incomplete" %> 
		<% end %>
		</li>
	<% end %>
</ol>  
<br/><br/>


<%= form_for @task do |f| %>
	<%= f.label :title %><br/>
	<%= f.text_field :title %><br/>
	<%= f.label :due_date %><br/>
	<%= f.date_select :due_date %><br/>
	<%= f.label :is_completed %>? <br/>
	<%= f.check_box :is_completed %><br/>

	<%= f.hidden_field :project_id, value: @project.id %>

	<%= f.submit %>


<% end %>

<% data = [] %>

<% @project.tasks.each do |task| %>
	<% data.push([task.title, @project.start_date.to_s , task.due_date.to_s]) %>
<% end %>
<br/><br/>
<%= timeline data %>








