<% restaurant = JSON.parse('
{
  "R": {
    "res_id": 50636
  },
  "apikey": "cb86e43c73aa35fbafef306ca17625a3",
  "id": "50636",
  "name": "Maiyas Restaurants",
  "url": "https://www.zomato.com/bangalore/maiyas-restaurants-jayanagar?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
  "location": {
    "address": "459/30, 30th Cross, 4th Block, Jayanagar, Bangalore",
    "locality": "Jayanagar",
    "city": "Bangalore",
    "city_id": 4,
    "latitude": "12.9285881773",
    "longitude": "77.5817829743",
    "zipcode": "0",
    "country_id": 1
  },
  "cuisines": "South Indian, Fast Food",
  "average_cost_for_two": 200,
  "price_range": 1,
  "currency": "Rs.",
  "offers": [],
  "thumb": "https://b.zmtcdn.com/data/pictures/6/50636/4f0cc11935759cd8c7bfaab2012abf7c_featured_v2.jpg",
  "user_rating": {
    "aggregate_rating": "3.8",
    "rating_text": "Good",
    "rating_color": "9ACD32",
    "votes": "1413"
  },
  "photos_url": "https://www.zomato.com/bangalore/maiyas-restaurants-jayanagar/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop",
  "menu_url": "https://www.zomato.com/bangalore/maiyas-restaurants-jayanagar/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop",
  "featured_image": "https://b.zmtcdn.com/data/pictures/6/50636/4f0cc11935759cd8c7bfaab2012abf7c_featured_v2.jpg",
  "has_online_delivery": 0,
  "is_delivering_now": 0,
  "deeplink": "zomato://restaurant/50636",
  "has_table_booking": 0,
  "events_url": "https://www.zomato.com/bangalore/maiyas-restaurants-jayanagar/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1"
}')
%>

<% reviews = JSON.parse(' {
  "reviews_count": 553,
  "reviews_start": 0,
  "reviews_shown": 5,
  "user_reviews": [
    {
      "review": {
        "rating": 3.5,
        "review_text": "Usually crowded during lunch time be it any day of the week. food tastes great, the rates are high . For the food they serve it ain\'t worth the money. People who visit here are mostly regulars. The upside is that you get all south indian dishes that your tastes craves.",
        "id": "28724340",
        "rating_color": "9ACD32",
        "review_time_friendly": "16 hours ago",
        "rating_text": "Good Enough",
        "timestamp": 1479133562,
        "likes": 2,
        "user": {
          "name": "Shree Hari",
          "zomato_handle": "shreehari",
          "foodie_level": "Super Foodie",
          "foodie_level_num": 10,
          "foodie_color": "f58552",
          "profile_url": "https://www.zomato.com/shreehari?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/0b7/5ed080d2bba8c4a1e18be6990d3710b7.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/7778321"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 2.5,
        "review_text": "A highly over rated  place..we went for evening snacks and there was hardly anything available..they gave us sweet pooris in the name of Mangalore buns..after getting coffee we had to wait for ten mins to get sugar..we were very disappointed.. nothing in comparison to mtr",
        "id": "28717862",
        "rating_color": "FFBA00",
        "review_time_friendly": "yesterday",
        "rating_text": "Well...",
        "timestamp": 1479057109,
        "likes": 0,
        "user": {
          "name": "Divya  Shukla",
          "foodie_level": "Foodie",
          "foodie_level_num": 2,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/divya-shukla-1241552?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/ec5/d2d8aba78afd9a49e6e94f21066dfec5.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/1241552"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 2.5,
        "review_text": "A big NO for South Indian Special Meals. Reservation was quite easy and helpful. Welcome drink was pathetic, it tasted like sugar syrup, and pooris were not so great. Side dishes were not mouth watering or worth visiting again for. And I\'m sure they dont know how to make Aloo Bonda. Paysa tasted quite good but the quantity is too less, not more than 4 spoons. Overall I\'m not happy with my visit. Definitely I dont recommend if you are looking for authentic south indian special meal.",
        "id": "28707198",
        "rating_color": "FFBA00",
        "review_time_friendly": "3 days ago",
        "rating_text": "Well...",
        "timestamp": 1478961987,
        "likes": 1,
        "user": {
          "name": "Deepak Rao",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 6,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/deepak-rao-430599?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/fe0/37522052659e1e8000723c3da32b1fe0.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/430599"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 3.5,
        "review_text": "Ordered online - one masala dosa, which was yum yum and yum.. Packing was perfect and delivery was fast! Also, ordered bisibillah bath.. which was average in taste.",
        "id": "28600459",
        "rating_color": "9ACD32",
        "review_time_friendly": "17 days ago",
        "rating_text": "Good Enough",
        "timestamp": 1477757113,
        "likes": 1,
        "user": {
          "name": "Mansi Manhas (My Food Journey!)",
          "zomato_handle": "mansi7771",
          "foodie_level": "Super Foodie",
          "foodie_level_num": 10,
          "foodie_color": "f58552",
          "profile_url": "https://www.zomato.com/mansi7771?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/099/442df99d6d97974c9e0980fec918a099.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/30687768"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 1,
        "review_text": "Having good tasting  food only doesn\'t matter.customer service should be taken into account. they have the most unresponsive staff, poor curtosy and even bad service. better to finda another place to eat.",
        "id": "28545660",
        "rating_color": "CB202D",
        "review_time_friendly": "24 days ago",
        "rating_text": "Avoid!",
        "timestamp": 1477153017,
        "likes": 0,
        "user": {
          "name": "Satya Pratik Merugu",
          "foodie_level": "Foodie",
          "foodie_level_num": 2,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/satya-pratik-merugu-16136692?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/44f/ab6038a6459ec1d7aeea7ecf7ce8344f.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/16136692"
        },
        "comments_count": 0
      }
    }
  ],
  "Respond to reviews via Zomato Dashboard": "https://www.zomato.com/business/claim?ref=rpg&resid=50636#claim"
}
  ')
%>

<br/>
<h2><%= link_to restaurant["name"], restaurant["url"], target: "_blank" %></h2>
<%= restaurant["location"]["locality"] %>, <%= restaurant["location"]["city"] %><PRE>Rating : <%= restaurant["user_rating"]["aggregate_rating"] %>/5 (<%= restaurant["user_rating"]["votes"] %> votes)<br/>
<%= link_to "PHOTOS", restaurant["photos_url"] %>  <%= link_to "MENU", restaurant["menu_url"] %><br/>
<%= image_tag(restaurant["thumb"]) %><br/>
<b>Address</b><br/><%= restaurant["location"]["address"] %><br/>
<b>Cuisine</b> : <%= restaurant["cuisines"] %><br/>
<b>Avg. cost for two</b> : <%= restaurant["currency"] %><%= restaurant["average_cost_for_two"] %></PRE>

<h3>Reviews</h3>
<ul>
  <% reviews["user_reviews"].each do |user| %>
    <li>
      <%= link_to user["review"]["user"]["name"], user["review"]["user"]["profile_url"], target: "_blank" %><br/><%= image_tag(user["review"]["user"]["profile_image"]) %>
      <p><b>Rating : <%= user["review"]["rating"] %></b>/5<br/><%= user["review"]["review_text"] %><br/><small><%= user["review"]["review_time_friendly"] %></small><br/>
      <b>Likes</b> - <%= user["review"]["likes"] %></p>
    </li>
  <% end %>
</ul>
